body {
	background-color: #C4C4C4;
	margin: 0;
	padding: 0;
}
	
.wrapper {
	margin: 62px 84px 0px 77px;
	width: 500px;
	color: #000;
	box-sizing: border-box;
}

		
.wrapper input {
	border: 2px solid rgb(177, 214, 177);
	outline: none;
	font-size: 40px;
	line-height: 56px;
	width: 100%;
	background-color: #FFFFFF;
	box-sizing: border-box;
}
	
.container {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	height: 200px;
}

	
.container__list {
	width: 100%;
	cursor: pointer;
	font-size: 30px;
	line-height: 35px;
	border: 2px solid #000;
	box-sizing: border-box;
	background-color: #E3E3E3;
	list-style-type: none;
	overflow: hidden;
}
	
.container__list:hover {
	background-color: #65CDF9;
	cursor: pointer;
}
	
.selected {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}
	
.selected__elem {
	display: flex;
	font-size: 24px;
	padding: 8px 16px;
	line-height: 28px;
	border: 1px solid #000;
	background-color: #E27BEB;
	overflow: hidden;
}
	
.btn-close {
	margin: auto;
	margin-right: 0;
	background-repeat: no-repeat;
	background-image: url("img/Vector\ 3.png"), url("img/Vector\ 8.png");
	background-color: transparent;
	background-size: contain;
	border: none;
	cursor: pointer;
	width: 45px;
	height: 45px;
}